/*
Kuler: https://goo.gl/vuitVq

green bright	#4ecc8d
green dark		#3a9954
orange			#e57312
red bright		#cc3935
red dark		#b2202e

*/

/* =global
--------------------------------------------------------------- */
#wrapper {
	
	}
.wrap {
	max-width: 50em;
	margin: 0 auto;
	}

/* =header
--------------------------------------------------------------- */
header {
	background: rgba(255,255,255,.9);
	width: 100%;
	box-shadow: 0px 0px .5em rgba(0,0,0,.35);
	}
.titlecontainer {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding: 2em 0;
	}
.titlecontainer h1,
.titlecontainer h2 {
	margin: 0;
	}
/* =main
--------------------------------------------------------------- */
main {
	padding-top: 2vh;
	}

/* =module/app "to-dos"
--------------------------------------------------------------- */
.form-row.cf label {
	display: block;
	}

/* global
--------------------------------------------------------------- */
.mod-todo {
	background: rgba(255, 255, 255, 0.5);
	box-shadow: 0 0 0 5000px rgba(255, 255, 255, 0.5)
	}
.mod-todo .container {
	padding: 1em;
	background: rgba(255, 255, 255, 0.95);
	border: 1px solid rgba(0,0,0,.5);
	border-radius: .25em;
	}
.form-element-btn[type="reset"]:hover {
	background: #b2202e;
	}
.form-element--input {
	padding: .35em .25em;
	font-size: 1.5em;
	font-family: 'Source Sans Pro', Arial, Helvetica, Geneva, sans-serif;
	font-weight: 300;
	box-shadow: 0;
	}
.form-element-btn {
	display: inline-block;
	padding: .5em 1em;
	color: #fff;
	text-decoration: none;
	border-radius: .25em;
	border: 1px solid rgba(0,0,0,.2);
	text-align: center;
	line-height: normal;
	cursor: pointer;
	}
.form-element-btn:active {
	box-shadow: inset 0 2px .25em rgba(0,0,0,.35);
	}
.form-element-btn:hover,
.form-element-btn:focus {

	}
.form-element input[type=checkbox]:hover {
	cursor: pointer;
	}

/* todo-add
--------------------------------------------------------------- */
.todo-add .form-row {
	display: flex;
	flex-direction: row;
	}
.todo-add .form-element--todo {
	margin-right: .5rem;
	}
.todo-add .form-func--btn_container {
	display: flex;
	justify-content: space-between;
	}
.todo-add .form-func--btn_container .form-element-btn {
	width: 45%;
	margin-left: .5rem;
	}
.todo-add .btn--add {
	background: #4ecc8d;
	}
.todo-add .btn--add:hover {
	background: #3a9954;
	}

	
/* todo-lst
--------------------------------------------------------------- */	
.todo-lst .form-row {
	margin-bottom: 0;
	padding: .5em .25em;
	display: block;
	}
.todo-entry--rm_single {
	
	}
.todo-entry--checkbox,
.todo-entry--rm_single {
	text-align: center;
	}
.todo-entry--time {
	text-align: right;
	}
.todo-entry:hover .todo-entry--rm_single {
	display: block;
	}
.todo-entry--rm_single {
	color: #b2202e;
	display: none;
	}
.todo-entry--rm_single:hover,
.todo-entry--rm_single:focus {
	color: #cc3935;
	cursor: pointer;
	}
	
	
/* todo-clear 
--------------------------------------------------------------- */	
.todo-clear--all .btn--rm_all {
	width: 100%;
	background: #cc3935;
	}
.form-element.btn--rm_all {
	color: #fff;
	}
.form-element.btn--rm_all:hover,
.form-element.btn--rm_all:focus {
	background: #b2202e;
	}
/* =placeholder hack
--------------------------------------------------------------- */
/* do not combine/minify the rules! */
input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #000;
    opacity: .35;
    font-family: 'Source Sans Pro', Arial, Helvetica, Geneva, sans-serif;
    font-weight: 300;
	}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #000;
    opacity: .35;
    font-family: 'Source Sans Pro', Arial, Helvetica, Geneva, sans-serif;
	}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #000;
    opacity: .35;
    font-family: 'Source Sans Pro', Arial, Helvetica, Geneva, sans-serif;
	}
$input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #000;
    opacity: .35;
    font-family: 'Source Sans Pro', Arial, Helvetica, Geneva, sans-serif;
	}