/* ***********************************************************************************
FileName	: screen.css
Date		: 14.11.2016
Author		: asantarsieri
Purpose		: framework / neutral boilerplate
*********************************************************************************** */

@media screen {
	@import url(https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css);
	@import 'partials/normalize';
	@import 'partials/variables';
	@import 'partials/mixins';
	@import 'partials/basics';
	@import 'partials/expanded_basics';
	@import 'partials/application';
	@import 'partials/layout';
	@import 'partials/responsive';
}

@media print {

	@import "partials/print";

}