/* =colors
--------------------------------------------------------------- */
// Kuler: https://goo.gl/vuitVq
$green-bright: #4ecc8d;
$green-dark: #3a9954;
$orange: #e57312;
$red-bright: #cc3935;
$red-dark: #b2202e;